.personal {
    display: flex;
    column-gap: 30px;

   &-svg {
    display: flex;
}

    &__img {
    padding-bottom: 30px;
}

    &__item {
    background: var(--accent-text-color);
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
 
    &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
    color: var(--secondary-text-color)
}

    &__text {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
}

.social-list {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    column-gap: 10px;
}

.social__svg {
    fill: #AFB1B8;
    transition: fill 250ms var(--timing-function);
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
}

    &:hover .social__svg,
    &:focus .social__svg {
    fill: var(--accent-text-color);
}
}

.team-title {
    margin-bottom: 50px;
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

