.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    &__black {
    color: var(--secondary-text-color);
}
}


.footer__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-bottom: 20px;
    display: block;

    .logo__white {
    color: var(--accent-text-color);
}
}